body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://c.wallhere.com/photos/67/0a/Stable_Diffusion_4K_black_holes_black_AI_art_men_space-2216456.jpg!d');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
      
  #listaFilmes img {
    margin: 10px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 105px;
    font-size: 16px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #9f1eda;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:.8;
  }
  .lista-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filme-container {
    text-align: center;
    position: relative;
    flex: 0 0 30%; /* Define a largura de cada item (30% para 3 itens por linha) */
    margin-bottom: 20px; /* Espaçamento entre os itens */
}

.filme-container img {
    max-width: 100%;
    height: auto;
}

.excluir-btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.filme-nome {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.filme-container img {
    max-width: 100%;
    max-height: 300px; /* Defina a altura máxima desejada para as imagens */
    object-fit: cover; /* Isso garante que a imagem cubra o espaço disponível sem distorção */
}
