*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,226,233,0.99580078125) 100%);
}

.container{
    height: 17rem;
    background: white;
    max-width: 26rem;
    border-radius: 0.5rem;
    padding: 16px 25px;
    transition: heigth 0.5s ease;
}

.container.active{
    height: 33rem;
}

header h1{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

header p{
    color: rgb(32, 32, 32);
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.container .form{
    padding: 20px 0 25px;
}

.container :where(input,button){
    width: 100%;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.form input{
    padding: 0 1rem;
    font-size: 18px;
    border: 1px solid grey;
    font-style: italic;
}

.form button{
    color: rgb(197, 179, 213);
    background: blueviolet;
    margin-top: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.form button:hover{
    background: rgb(170, 47, 176);
}

.container .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    pointer-events: none;
    opacity: 0;
    
}

.qr-code .img{
    width: 12rem;
    height: auto;
}

.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}